.contact-us-main-container{
    background-color: #03192b;
    height: 1600px;
    width: 100%;
}
.contact-us-inner-container-title {
    padding-top: 100px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
}
.contact-us-inner-title-contact {
    font-size: 50px;
}
.contact-us-inner-container {
    background-color: #032540;
    margin-left: 60px;
    margin-right: 60px;
}
.contact-us-inner-container-image {
    padding-left: 450px;
}
.contact-us-inner-container-lists {
    display: flex;
}
.contact-us-inner-container-lists {
    padding-top: 50px;
}
.contact-us-second-column {
    padding-top: 30px;
}
.eth-office{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-left: -60px;
}
.eth-office-no {
    color: #86754d;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-top: 15px;
    margin-left: -15px;
}
.usa-office {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-top: 15px;
    margin-left: -35px;
}
.usa-office-adress {
    color: #bfbfbf;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    padding-top: 15px;
    margin-left: 40px;
}
.usa-office-no {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: 18px;
    padding-top: 15px;
    margin-left: -70px;
}
.usa-email {
    color: #bfbfbf;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    padding-top: 15px;
    margin-left: -5px;
}
.work-hours{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 35px;
}
.first-work-hours {
    color: #bfbfbf;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    padding-top: 15px;
    padding-left: 35px;
}
.second-work-hours {
    color: #bfbfbf;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    padding-top: 15px;
    padding-left: 35px;
}
.contact-us-first-column-title{
    color: #ffffff;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding-left: 430px;
    padding-top: 50px;
}
.contact-us-first-column-adress {
    color: #bfbfbf;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    padding-top: 15px;
    padding-left: 430px;
    width: 700px;
    padding-right: 10;
}
.contact-us-first-column-email-adress {
    color: #bfbfbf;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    padding-top: 15px;
    padding-left: 430px;
    width: 700px;
    padding-right: 10;
}
.contact-us-first-column-no {
    color: #bfbfbf;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    padding-top: 15px;
    padding-left: 370px;
    width: 700px;
    padding-right: 10;
}
.have-question-header {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-left: 300px;
    margin-top: 50px;
    padding-top: 50px;
}

/* form */
.main-container {
    background-color: #022859;
}
.form-content-right {
    background-color: #022859;
    margin-top: -17px;
    margin-left: 80px;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.form-labell {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.form-inputss {
    margin-bottom: 0.5rem;
    width: 60%;
    margin-left: 300px;
  }

.form-inputss p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
}
/* .form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
  } */
  .form-inputt {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
    margin-bottom: 0.5rem;
  }
  .form-inputt::placeholder {
    color: #595959;
    font-size: 12px;
  }

  .checkbox-labell {
      color: #fff;
      margin-left: 3px;
  }

  .form-input-btnn {
    width: 147px;
    height: 40px;
    margin-top: 20px;
    border-radius: 2px;
    background: #d0b483;
    outline: none;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: inherit;
    margin-bottom: 80px;       
    border-radius: 3px; 
    margin-left: 68%;
  } 
  .form-input-btnn:hover {
    cursor: pointer;
    background: #595959;
    transition-duration: .5s;
    transition-property: transform;
    width: 160px;
    height: 45px;
    transition: all 0.3s ease-out;
  }
  .items-in-select{
    color: #595959;
  }
  .form-input-text-areaa{
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 70px;
    width: 100%;
    border: none;
    margin-bottom: 0.5rem;
  }


