.Blog-Footer-two-container {
    height: 500px;
    background-color:#032540 ;
}
.blog-footer-social-media-icon {
    color: #fff;
}

.Footer-two-list {
    display: flex;
    margin-top: 100px;
}
.blog-Footer-list {
    width: 358px;
    height: 137px;
    margin-right: 10px;
    margin-top: 100px;
    margin-left: 100px;
}
.blog1-Footer-each-list-two{
    list-style: none;
    color: #fff;
    font-family: "Roboto",Sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 7px;
    
}
.blog1-Footer-each-list-three {
    color: #fff;
    font-family: "Roboto",Sans-serif;
}

.Footer-image {
    width: 100px;
    height: 150px;
    margin-left: 110px;
    margin-right: 100px;
    margin-top: 100px;
}
.blog1-Footer-each-list-two-header {
    color: #fff;
    font-family: "Barlow",Sans-serif;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}
.Footer-list-icons {
    display: flex;
    margin-top: 10px;
}
.Footer-each-list-four {
    width: 30px;
    height: 30px;
    font-family: "Roboto",Sans-serif;
}
.blog-icon {
    margin-right: 6px;
    color: #fff;
}
 
.blog-Footer-end-container {
    color: rgba(255,255,255,0.32);
    margin-top: 150px;
    padding-left: 100px;
    background-color: #021729 ;
    height: 50px;
}



