/* Footer1 style */
.container {
    background-color: #022859;
    max-width: 100%;
    margin-top: 100px ;
}

.footer1-text {
    /* height: 800px; */
    /* margin-top: 100px; */
    color: #fff;
    font-family: "Barlow",Sans-serif;
    font-weight: 100;
    font-size: 19px;
    width: 800px;
    /* text-align: center; */
    margin-left: 300px;
}
.footer1-text2 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-left: -10px;
}
