
.body1-content {
    background-image: url('https://metropolitanaddis.com/wp-content/uploads/2019/09/Bole-Tower-Entrance-Luxury-Apartments_02.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    box-sizing: border-box;
    display: block;
}
/* body2 style*/
.little-text {
    color: #d0b483;
    font-family: "Barlow",Sans-serif;
    text-transform: uppercase;
}

figcaption span {
    font-size: 43px;
    font-weight: 400;
    color: #0b1b35;
    fill: #0b1b35;
    font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
    cursor: pointer;
}

figcaption h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    /* width: 300; */
    text-shadow: 1px 0 12px #000;
    font-weight: bolder;
    /* text-align: center; */
}
figcaption h2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 59px;
    font-family: 'Barlow', sans-serif;
    font: 300;
    text-shadow: 1px 0 12px #000;
    text-align: center;
    font-weight: 100;
}

.blur-bg {
   margin-top: -1px;
    opacity: 0.5;
    height: 600px;
    width: 2800px;
}
.upper-image {
    position: absolute;
    top: 170px;
    left: 540px;
    width: 300px;
    height: 293px;
    cursor: pointer;
    /* align-items: center; */
}

.elementor-third-column {
    position: absolute;
    top: 50px;
    left: 900px;
    width: 445px;
    height: 75px;
}

.elementor-paragraph {
    color: #0b1b35;
    font-weight: 700;
    width: 500px;
    height: 98px;
}

/* figcaption p {
    width: 391px;
    height: 98px;
} */

 .elmentor-text {
    color: #d0b483;
    background-color: transparent;
    width: 280px;
    margin-top: 180px;
    
}

.elementor-text-btn {
    border: 2px solid #d0b483;
    background-color: white;
    color: #d0b483;
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
}

.elementor-body-three {
   max-width: 100%;
   height: auto;
}
.under-image-body-3 {
    margin-top: -17px;
    height: 600px;
    opacity: 1;
}
.upper-image-body3 {
    position: absolute;
    top: 1450px;
    left: 450px;
    width: 407px;
    height: 305px;
    cursor: pointer;
}
/* .little-text-container {
    margin-top: -100opx;
} */
.elementor-body-three-little-text {
    position: absolute;
    color: #fff;
    font-family: "Barlow",Sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    top: 1350px;
    left: 900px;
    width: 445px;
    height: 75px;
    text-decoration: none;
    cursor:auto;
}
.little-text-two {
    color: #fcdd18;
    margin-bottom: 100px;
    font-family: "Barlow",Sans-serif;
    margin-top: 40px;
}

.elementor-body-three-title {
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    top: 1450px;
    left: 900px;
    width: 445px;
    height: 75px;
    
}

.elementor-paragraph-body-three {
    color: #fff;
    font-weight: 700; 
    margin-top: -450px;
    margin-left: 900px;
    margin-right: 10px;
    width: 500px;
}

.elmentor-body3-text {
    margin-left: 900px;
    margin-top: 60px;
    margin-bottom: 40px;
    
}
.elementor-body3-text-btn {
    border: 2px solid #fcdd18;
    background-color: rgba(252,221,24,0);
    color: #fcdd18;
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}


.body-four-image {
    display: flex;
    height: 350px;
    /* width: 3000px; */
    /* position: relative; */
    /* margin-top: -30px; */
    background-position: top right; 
    background-position-x: right; 
    background-position-y: top;
    background-size: cover;
    background-color: #233560;
    /* background-repeat: no-repeat; */
    
}
.body4-text-bg {
   margin-top: -100px;
    
}
.body4-text {
    position: absolute;
    top: 2050px;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Barlow', sans-serif;
    width: 700px;
}
.body4-text1 {
    font-weight: bolder;   
    font-size: inherit;
    width: 1000px;
    margin-top: -40px;
}
h5 {
    margin-top: 200px;
    margin-left: 80px;  
}
.body4-text3 {
    margin-top: 25px;
    color: #fff;
    background-color: #233560 ;
    font-size: 15px;
    border-radius: 5px;
    border-color:#233560 ;
    margin-left: 1000px;
    width: 194px;
    height: 39px;
    text-align: center;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
    text-decoration: inherit;
}
.body4-text3:hover {
    cursor: pointer;
    transition-duration: .5s;
    transition-property: transform;
    width: 210px;
    height: 45px;
    transition: all 0.3s ease-out;
}





