/* body one */
.StandardLines-body1-container {
    background-color: #03192b;
    height: 800px;
    text-align: center;
}
.StandardLines-body1-paragraph-container{
    width:700px;
    margin-left:400px ;
    margin-top: 30px;
    color: #f7f7f7;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
/* body two */
.StandardLines-body2-container{
    height: 600px;
    
}
.StandardLines-background-image {
    background-repeat: no-repeat;
    height: 600px;
    width: 2800px;
}
.StandardLines-body2-upper-image {
    width: 400px;
    height: 400px;
    margin-left: 500px;
    margin-top: -500px;
    cursor: pointer;
}
.StandardLines-p-body2-header {
    margin-left: 5px;
    color: #03192b;
    font-family: "Barlow", Sans-serif;
    font-size: 1.9em;
    font-weight: normal;
}
.StandardLines-body2-paragraph-container {
    line-height: 20px;
    color: #7A7A7A;
    font-weight: bolder;
    margin-top: -470px;
    width: 500px;
    margin-left: 950px;
}
.StandardLines-p {
    margin-bottom: -10px;
    margin-left: 10px;
    font-weight: bolder;
}
.StandardLines-body2-view-detail-button {

    background-color: rgba(252,221,24,0);
    color: #fff;
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 1300px;
    margin-top: 10px;
    background-color: #03192b;
}
h5 {
    margin-top: 10px;
}
