.nav-logo{
    max-width: 150px;
    max-height: 150px;
    margin-left: 200px;
    margin-top: 80px;
    cursor: pointer;
    
}

.NavbarItems {
     height: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.2rem;
     font-family: "Lato",Sans-serif;
     /* font-weight: 500; */
     z-index: 1000000;
}

.nav-menu {
    display: flex;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    /* width: 70vw; */
    justify-content: end;
    margin-right: 10rem; 
    margin-left: 10rem;
    color: #163967;
    /* padding-top: 18px;
    padding-bottom: 18px; */
    /* font-family: 'Lato', sans-serif; */
    font-size: .7em;
    font-weight: 400;
    /* padding: 2rem 1rem; */
    
}

.nav-menu-link {
    margin-left: .9em;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 200px;
    height: 50px;
    margin-left: -50px;
    cursor: pointer;
    
}


li:hover {
    /* background-color:#163967; */
    transition: all .2s linear;
    /* color: #fff; */
    font-weight: bolder;
    font-size:small;
}