.nav-logo{
    max-width: 140px;
    max-height: 150px;
    margin-left: -300px;
    /* margin-top: -1250px; */
    cursor: pointer;
    position: fixed;
}

.NavbarItems {
     height: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.2rem;
     font-family: "Lato",Sans-serif;
     /* font-weight: 500; */
     z-index: 1000000;
     background-color: #fff;
     position: fixed;
     
}

nav{
    display: flex;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    /* width: 70vw; */
    justify-content: end;
    margin-right: 100px; 
    margin-left: 470px;
    margin-top: 16px;
    color: #163967;
    /* padding-top: 18px;
    padding-bottom: 18px; */
    /* font-family: 'Lato', sans-serif; */
    font-size: .7em;
    font-weight: 400;
    /* padding: 2rem 1rem; */ 
}

a.active{
    background-color: #163967;
    height: 50px;
}



.nav-menu-link {
    padding-top: 18px;
    padding-bottom: 18px;
    width: 188px;
    height: 50px;
    /* margin-left: -50px; */
    cursor: pointer;
    margin-right: -30px;
    
}
.nav-menu-link-long {
    margin-left: .9em;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 240px;
    height: 50px;
    margin-left: 1px;
    cursor: pointer;
}


.nav-menu-link:hover {
    background-color:#163967;
    transition: all .2s linear;
    color: #fff;
    font-weight: bolder;
    font-size:small;
}
.nav-menu-link-long:hover {
    transition: all .2s linear;
    font-weight: bolder;
    font-size:small;
    background-color:#163967;
    color: #fff;
}


